* {
    box-sizing: border-box;
}

a,button,ul,h1,h2,h3,h4,p {
    border: none;
    outline: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 30px 0 60px;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.content {
    width: 400px;
    text-align: left;
    margin: 0 auto;
}

.content h1 {
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
}

.content .balance {
    margin-bottom: 20px;
}

.content .balance h2 {
    border: none;
    padding: 0;
    margin: 0;
}

.content .balance span {
    font-size: 24px;
}

.content .inc_exp_container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 20px 0;
    margin-bottom: 40px;
}


.content .inc_exp_container>div:first-child {
    border-right: 1px solid #dedede;
}

.content .inc_exp_container>div {
    flex: 1;
    text-align: center;
}

.content .inc_exp_container h3 {
    margin-bottom: 5px;
}

.content .inc_exp_container span {
    font-size: 20px;
    letter-spacing: 1px;
}

.content .inc_exp_container .money_plus span {
    color: #2ecc71;
}

.content .inc_exp_container .money_minus span {
    color: #c0392b;
}

.content h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 18px;
}

.content .history_container {
    margin-bottom: 40px;
}

.content .history_container .list_item {
    max-height: 218px;
    overflow: auto;
    margin-left: -24px;
    padding-left: 24px;
}

.content .history_container .list_item li {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    line-height: 22px;
}

.content .history_container .list_item li .delete {
    position: absolute;
    content: "x";
    background-color: #e74c3c;
    cursor: pointer;
    opacity: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: opaicity .5s linear;
    pointer-events: all;
}

.content .history_container .list_item li::after  {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-right: 5px solid transparent;
}

.content .history_container .list_item li:hover .delete {
    opacity: 1;
}

.content .history_container .list_item li.plus {
    border-right: 5px solid #2ecc71;
}

.content .history_container .list_item li.minus {
    border-right: 5px solid #c0392b;
}

.content .add_container .form_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.content .add_container .form_item label {
    margin-bottom: 10px;
}

.content .add_container .form_item input {
    border: 1px solid #dedede;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
}

.content .add_container .add_btn {
    display: block;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-image: linear-gradient(to left, #FFC312, #EE5A24, #FFC312);
    background-size: 200%;
    transition: all 0.6s linear;
}

.content .add_container .add_btn:hover {
    background-position: right;
}